language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-c++98-compat -Wno-missing-prototypes -Wno-padded -Wno-weak-vtables -Wno-missing-noreturn -Wno-unused-parameter -Wno-float-conversion -Wno-shadow main.cpp AttackItem.cpp Character.cpp DefensiveItem.cpp Dragon.cpp DragonSlayer.cpp Dwarf.cpp HelpfulItem.cpp Paladin.cpp Utility.cpp && ./a.out"
